.section {
  margin: 50px;
}

.form {
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
}

.findBox {
  max-width: 1023px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.input {
  width: 100%;
}

.tableHeaderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
}
